[data-ws="0"]{border-top: 2px solid #dddddd !important; border-bottom:2px solid #dddddd !important; text-align: justify !important; margin: 1em !important; padding: 0.2em !important}
[data-ws="1"]{background-color: transparent !important}
[data-ws="2"]{margin: 0 !important; padding: 0 !important}
[data-ws="3"]{padding-left:0.5em !important; line-height:0 !important}
[data-ws="4"]{ overflow: hidden !important}
[data-ws="5"]{ top: 0 !important; left: 0 !important; font-size: 200pt !important; overflow: hidden !important; line-height: 19px !important; z-index: 3 !important}
[data-ws="6"]{ top: 0 !important; left: 0 !important; z-index: 2 !important}
[data-ws="7"]{background:#ffdead !important}
[data-ws="8"]{background:#e3e6ff !important}
[data-ws="9"]{line-height:0 !important}
[data-ws="10"]{background:#BDB76B !important}
[data-ws="11"]{background:#EEE8AA !important}
[data-ws="12"]{background:#D5D9FF !important}
[data-ws="13"]{margin:0 3px .8em 3px !important; letter-spacing: 2px !important; text-align: center !important; margin-top: 0 !important; margin-bottom:.2em !important; font-size: 125% !important; font-family: Garamond, sans-serif !important}
[data-ws="14"]{border-bottom:1px dotted !important}
[data-ws="15"]{margin:0.5em !important; border-radius:5px !important; background:#FFF !important; float:right !important}
[data-ws="16"]{background:#D2E8E8 !important; border-radius:5px !important; padding:0.2em !important; margin:0.1em !important}
[data-ws="17"]{text-align:center !important}
[data-ws="18"]{}
[data-ws="19"]{}
[data-ws="20"]{ padding-right:0.5em !important}
[data-ws="21"]{ margin-bottom:1em !important}
[data-ws="22"]{border-bottom:initial !important; cursor:default !important}
[data-ws="23"]{position:absolute !important; left:34px !important; top:<strong class= !important}
[data-ws="24"]{background:#d5d9ff !important}
[data-ws="25"]{ border:1px solid #aaa !important; border-radius:5px !important; padding-right:5px !important}
[data-ws="26"]{ padding:1ex !important}
[data-ws="27"]{ left: 0px !important; top: 0px !important; padding: 0 !important}
[data-ws="28"]{ vertical-align:middle !important}
[data-ws="29"]{float:right !important; margin-left:1em !important}
[data-ws="30"]{float: right !important; margin-left: 1em !important}
[data-ws="31"]{background-color:#e0e0e0 !important}
[data-ws="32"]{ padding-left:1ex !important}
[data-ws="33"]{background:#ffd9d9 !important}
[data-ws="34"]{background:#e3e6ff !important}
[data-ws="35"]{padding-left:1ex !important; background:#D5D9FF !important}
[data-ws="36"]{padding-left:1ex !important; background:#E0E0E0 !important}
[data-ws="37"]{padding-left:1em !important}
[data-ws="38"]{clear: both !important; background-color: #f1f4ff !important; border: 1px solid #A3B1BF !important}
[data-ws="39"]{background-color:  !important}
[data-ws="40"]{font-size:110% !important}
[data-ws="41"]{ margin-top:1em !important; border:1px solid #999 !important; font-size:90% !important; text-align:center !important}
[data-ws="42"]{padding:0.2em 0.5em !important}
[data-ws="43"]{background:#ffdead !important}
[data-ws="44"]{background:#ffd9d9 !important}
[data-ws="45"]{padding-left:1ex !important}
[data-ws="46"]{color:red !important}
[data-ws="47"]{clear:both !important}
[data-ws="48"]{margin-bottom:0.5em !important}
[data-ws="49"]{background-color: #e3e6ff !important}
[data-ws="50"]{background-color: #ffdead !important}
[data-ws="51"]{background-color: #ffdead !important; text-align: center !important}
[data-ws="52"]{text-align: center !important}
[data-ws="53"]{border: 1px solid gray !important; padding:1em !important}
[data-ws="54"]{text-align: center !important}
[data-ws="55"]{background:#d87093 !important}
[data-ws="56"]{background:#66CCFF !important}
[data-ws="57"]{margin-top: 1em !important}
[data-ws="58"]{background:red !important;color:white !important; text-align:center !important}
[data-ws="59"]{clear: both !important; background-color: #e3e6ff !important; border: 3px solid #A3B1BF !important}
[data-ws="60"]{text-align:left !important;font-weight:bold !important;font-style:italic !important;margin-bottom:0.2em !important}
[data-ws="61"]{clear:both !important;margin-top:0.2em !important}
[data-ws="62"]{float:left !important;font-size:smaller !important}
[data-ws="63"]{margin-left:100px !important}
[data-ws="64"]{border: solid 1px #C17900 !important; background:#FFEFD5 !important}
[data-ws="65"]{text-align:center !important; margin-left:20% !important}
[data-ws="66"]{background:#FFF8EC !important; border: solid 1px #C17900 !important}
[data-ws="67"]{background:#FFEFD5 !important; border: solid 1px #C17900 !important}
[data-ws="68"]{background:#FFEFD5 !important}
[data-ws="69"]{background:white !important; color:black !important; border-top:white 0px !important; border-left:white 0px !important}
[data-ws="70"]{background:#eeeeee !important}
[data-ws="71"]{background:white !important}
[data-ws="72"]{background:black !important}
[data-ws="73"]{background:#eeeeee !important}
[data-ws="74"]{background:#eeeeee !important; cell-spacing:0px !important; cell-padding:0px !important}
[data-ws="75"]{background:white !important}
[data-ws="76"]{background:white !important; color:black !important}
[data-ws="77"]{background:#d5d9ff !important}
[data-ws="78"]{background:#E0E0E0 !important}
[data-ws="79"]{margin:0 !important; list-style:none !important}
[data-ws="80"]{background:#6699CC !important}
[data-ws="81"]{background:#CCCCFF !important}
[data-ws="82"]{padding:0.1em 0.1em !important}
[data-ws="83"]{background-color: #E5E5E5 !important; border:1px solid #000000 !important}
[data-ws="84"]{background:#70FF70 !important}
[data-ws="85"]{background:#CDC8B1 !important}
[data-ws="86"]{background:#F5F5F5 !important}
[data-ws="87"]{border: 2px outset #000000 !important}
[data-ws="88"]{background: #FFD700 !important}
[data-ws="89"]{border-style:solid !important;border-width:0.5mm !important;border-color:black !important}
[data-ws="90"]{background:#ffffff !important}
[data-ws="91"]{background-color: #D5D9FF !important}
[data-ws="92"]{background-color: #E0E0E0 !important}
[data-ws="93"]{background:#E0E0E0 !important}
[data-ws="94"]{background:#cc9900 !important; text-align:center !important}
[data-ws="95"]{background:#E0E0E0 !important; text-align:center !important}
[data-ws="96"]{border:1px solid #BBB !important}
[data-ws="97"]{background-color: #DFDFDF !important; border:1px solid #BBB !important}
[data-ws="98"]{font-size:162% !important; border:none !important; margin:0 !important; padding:.1em !important; color:#000 !important}
[data-ws="99"]{background-color: #D8BFD8 !important; border:1px solid #BBB !important}
[data-ws="100"]{border:2px solid #BBB !important}
[data-ws="101"]{border:1px solid #BBB| !important}
[data-ws="102"]{background:#D8BFD8 !important; border:1px solid #BBB !important}
[data-ws="103"]{margin:0 3px .8em 3px !important; text-align: center !important; margin-top: 0 !important; margin-bottom:.2em !important; font-size: 100% !important}
[data-ws="104"]{margin:0 auto !important;text-align:center !important;clear:both !important;border:1px solid #BBB !important}
[data-ws="105"]{font-size:100% !important}
[data-ws="106"]{ overflow:hidden !important}
[data-ws="107"]{ font-size:33px !important; overflow:hidden !important; line-height:33px !important; letter-spacing:33px !important}
[data-ws="108"]{text-decoration:none !important}
[data-ws="109"]{background: #ffdead !important}
[data-ws="110"]{padding-left: 1ex !important}
[data-ws="111"]{background: #e3e6ff !important}
[data-ws="112"]{background: #ffefd5 !important}
[data-ws="113"]{clear: right !important; margin-bottom: .5em !important; float: right !important; padding: .5em 0 .8em 1.4em !important; background: none !important}
[data-ws="114"]{border-width:thin !important;border-style:solid !important}
[data-ws="115"]{float: right !important; border:none !important; #808080 1px !important; margin: 1px !important}
[data-ws="116"]{padding:5px !important}
[data-ws="117"]{ top:-2px !important}
[data-ws="118"]{padding-left:10px !important}
[data-ws="119"]{background:#F0E68C !important}
[data-ws="120"]{background-color:#ffdead !important}
[data-ws="121"]{background:#87CEEB !important}
[data-ws="122"]{background:#FAEBD7 !important}
[data-ws="123"]{background:#EADEC4 !important}
[data-ws="124"]{border-bottom:thin dashed grey !important; cursor:default !important}
[data-ws="125"]{margin:0 !important;background-color:#ccccff !important;font-size:120% !important;font-weight:bold !important;border:1px solid #a0a0ff !important;text-align:left !important;color:#000 !important;padding:0.2em 0.4em !important}
[data-ws="126"]{padding:0.4em 0.2em !important; border: 5px double #aaa !important}
[data-ws="127"]{align:right !important; font-size: 90% !important; text-align: left !important; border: 5px double #aaa !important}
[data-ws="128"]{background-color: #ccccff !important; font-weight:bold !important}
[data-ws="129"]{background-color: #ccccff !important;font-weight:bold !important}
[data-ws="130"]{float:right !important;border-width:thin !important;border-style:solid !important}
[data-ws="131"]{background:#C0C0C0 !important}
[data-ws="132"]{background-color: #d5d9ff !important}
[data-ws="133"]{text-align: !important}
[data-ws="134"]{background-color: #b0c4de !important; text-align: center !important}
[data-ws="135"]{background-color: #5f9ea0 !important; vertical-align: top !important}
[data-ws="136"]{ text-align: center !important}
[data-ws="137"]{background-color: #d87093 !important}
[data-ws="138"]{padding-left:1ex !important; background:#ceffc7 !important}
[data-ws="139"]{padding-left:1ex !important; background:#deffd9 !important}
[data-ws="140"]{background:#FFD9D9 !important}
[data-ws="141"]{padding:0.4em 0.2em !important}
[data-ws="142"]{align:right !important; font-size: 90% !important; text-align: left !important; border: 1px solid #aaa !important}
[data-ws="143"]{background-color: #ccccff !important}
[data-ws="144"]{padding-left:1ex !important}
[data-ws="145"]{margin:0 !important;background-color:#53A0DF !important;font-size:120% !important;font-weight:bold !important;border:1px solid #a0a0ff !important;text-align:left !important;color:#000 !important;padding:0.2em 0.4em !important}
[data-ws="146"]{margin:0 !important;background-color:#D87093 !important;font-size:120% !important;font-weight:bold !important;border:1px solid #a0a0ff !important;text-align:left !important;color:#000 !important;padding:0.2em 0.4em !important}
[data-ws="147"]{margin:0 !important;background-color:#FFD86F !important;font-size:120% !important;font-weight:bold !important;border:1px solid #a0a0ff !important;text-align:left !important;color:#000 !important;padding:0.2em 0.4em !important}
[data-ws="148"]{background:#BB88FF !important}
[data-ws="149"]{background:#DED0F7 !important}
[data-ws="150"]{clear: both !important; background-color: transparent !important; border: 1px solid #A3B1BF !important}
[data-ws="151"]{background:red !important}
[data-ws="152"]{background:#33CCFF !important}
[data-ws="153"]{background:green !important}
[data-ws="154"]{background:#e0e0e0 !important}
[data-ws="155"]{background:purple !important}
[data-ws="156"]{background:#f0e7f1 !important}
[data-ws="157"]{background: #CD853F !important}
[data-ws="158"]{background:#8FBC8F !important}
[data-ws="159"]{background:#FFFACD !important}
[data-ws="160"]{background:#DEB887 !important}
[data-ws="161"]{text-align:center !important}
[data-ws="162"]{clear: both !important}
[data-ws="163"]{background: #ffe5c6 !important; border: 1px solid gray !important; text-align:center !important}
[data-ws="164"]{background:mistyrose !important}
[data-ws="165"]{text-align: left !important; vertical-align: top !important}
[data-ws="166"]{margin:0 auto !important;text-align:center !important;clear:both !important}
[data-ws="167"]{font-size:90% !important}
[data-ws="168"]{background-color: #FFDEAD !important}
[data-ws="169"]{background-color:#ffdead !important}
[data-ws="170"]{background-color:#e3e6ff !important}
[data-ws="171"]{border:solid 0.5mm black !important}
[data-ws="172"]{text-align: left !important}
[data-ws="173"]{font-weight:bold !important;color:#ff0000 !important}
[data-ws="174"]{background-color: #ffd9d9 !important}
[data-ws="175"]{text-align:left !important}
[data-ws="176"]{clear: both !important}
[data-ws="177"]{background-color:#D8BFD8 !important}
[data-ws="178"]{background-color:#EBD1EF !important}
[data-ws="179"]{background-color: #DFDFDF !important; border:1px solid #BBB !important}
[data-ws="180"]{margin: 0 auto !important}
[data-ws="181"]{background-color: #d5d9ff !important; text-align: center !important}
[data-ws="182"]{text-align: left !important}
[data-ws="183"]{vertical-align: top !important}
[data-ws="184"]{background-color: #ffd9d9 !important; text-align: center !important}
[data-ws="185"]{border: 1px solid gray !important; padding-left:1em !important}
[data-ws="186"]{float: right !important; margin-left: 1em !important; clear: both !important}
[data-ws="187"]{border-top: 2px solid #ffca18 !important; border-bottom:2px solid #ffca18 !important; text-align: justify !important; margin: 1em !important; padding: 0.2em !important}
[data-ws="188"]{background-color: #ffebeb !important}
[data-ws="189"]{background-color: #fa9191 !important}
[data-ws="190"]{padding:1ex !important}
[data-ws="191"]{background:#B6EFB3 !important}
[data-ws="192"]{background:#B48EF5 !important}
[data-ws="193"]{text-align: center !important; background:#ffdead !important}
[data-ws="194"]{ background:#E0E0E0 !important}
[data-ws="195"]{text-align: right !important}
[data-ws="196"]{background-color: #e3e6ff !important}
[data-ws="197"]{background-color:#e3e6ff !important}
[data-ws="198"]{background:#D8BFD8 !important}
[data-ws="199"]{background-color: #e0e0e0 !important}
[data-ws="200"]{background-color: #ffefd5 !important; text-align: center !important}
[data-ws="201"]{background-color: #d1d1d1 !important}
[data-ws="202"]{background:#ffdead !important; padding-left:1em !important}
[data-ws="203"]{ font-size:64px !important; overflow:hidden !important; line-height:64px !important; letter-spacing:64px !important}
[data-ws="204"]{background:#D24949 !important}
[data-ws="205"]{float:right !important;border-width:thin !important;border-style:solid !important}
[data-ws="206"]{vertical-align:top !important}
[data-ws="207"]{ background-color:#A7EFAC !important; text-align:right !important; vertical-align:top !important}
[data-ws="208"]{background-color:#DFEFDA !important}
[data-ws="209"]{background-color:#A7EFAC !important; text-align:right !important; vertical-align:top !important}
[data-ws="210"]{background-color:#A7EFAC !important}
[data-ws="211"]{ max-width:50px !important}
[data-ws="212"]{padding-left:0px !important}
[data-ws="213"]{padding-right:0px !important}
[data-ws="214"]{background-color:#66CCFF !important}
[data-ws="215"]{background-color:#EAF0FF !important}
[data-ws="216"]{background:#E0E8D9 !important}
[data-ws="217"]{vertical-align: top !important}
[data-ws="218"]{padding-left:2em !important}
[data-ws="219"]{background-color: #b6efb3 !important; text-align: center !important}
[data-ws="220"]{text-align: justify !important}
[data-ws="221"]{text-align: justfiy !important}
[data-ws="222"]{background-color: #eef !important; margin: 0 1em !important; padding: 0 10px !important; border: 1px solid #aaa !important}
[data-ws="223"]{ background-color:#AECCEF !important; text-align:right !important; vertical-align:top !important}
[data-ws="224"]{background-color:#DAE4F2 !important}
[data-ws="225"]{background-color:#AECCEF !important; text-align:right !important; vertical-align:top !important}
[data-ws="226"]{background-color:#AECCEF !important}
[data-ws="227"]{background-color:#DAE4F2 !important; vertical-align:top !important}
[data-ws="228"]{text-align:right !important}
[data-ws="229"]{color:#d2691e !important}
[data-ws="230"]{ font-size:175px !important; overflow:hidden !important; line-height:175px !important; letter-spacing:200px !important}
[data-ws="231"]{padding-right:0px !important}
[data-ws="232"]{background:blue !important; text-align:center !important}
[data-ws="233"]{clear: left !important}
[data-ws="234"]{background:#ffffff !important; text-align:center !important}
[data-ws="235"]{background:#f0e7f1 !important; text-align:center !important}
[data-ws="236"]{background:#e0e0e0 !important; text-align:center !important}
[data-ws="237"]{ vertical-align: top !important; background-color: #E5E5E5 !important; border:1px solid #000000 !important}
[data-ws="238"]{background:#53A0DF !important}
[data-ws="239"]{background:#E5E5E5 !important}
[data-ws="240"]{color:#003284 !important}
[data-ws="241"]{ font-size:40px !important; overflow:hidden !important; line-height:40px !important; letter-spacing:40px !important}
[data-ws="242"]{background:#FFD86F !important}
[data-ws="243"]{background:#F2EDC0 !important}
[data-ws="244"]{background:#F0FFEA !important}
[data-ws="245"]{border: 1px outset #000000 !important}
[data-ws="246"]{line-height:75% !important}
[data-ws="247"]{font-size: large !important; color: red !important}
[data-ws="248"]{ text-align: center !important; background-color: #ffd9d9 !important}
[data-ws="249"]{ text-align: center !important; background-color: #e3e6ff !important}
[data-ws="250"]{text-align: center !important; background-color: #ffdead !important}
[data-ws="251"]{background-color: #defcee !important}
[data-ws="252"]{background-color: #abffd8 !important}
[data-ws="253"]{font-style:inherit !important;font-weight:inherit !important}
[data-ws="254"]{background:#D3D5FF !important}
[data-ws="255"]{margin-left:0px !important; background-color: #cee0f2 !important; font-size: 100% !important; border: 1px solid #A3B1BF !important; -moz-border-radius: 15px !important}
[data-ws="256"]{white-space: nowrap !important}
[data-ws="257"]{color: #cc9900 !important}
[data-ws="258"]{color: red !important}
[data-ws="259"]{font-size: 87% !important}
[data-ws="260"]{text-align: center !important; background-color:#e0e0e0 !important}
[data-ws="261"]{text-align: left !important; padding-left:1ex !important}
[data-ws="262"]{color:Purple !important}
[data-ws="263"]{color:green !important}
[data-ws="264"]{color:teal !important}
[data-ws="265"]{color:grey !important}
[data-ws="266"]{color:olive !important}
[data-ws="267"]{color:black !important}
[data-ws="268"]{color:blue !important}
[data-ws="269"]{color:brown !important}
[data-ws="270"]{background:#ffe4e1 !important}
[data-ws="271"]{background:#0066FF !important}
[data-ws="272"]{background:#3399ff !important}
[data-ws="273"]{background:#3399FF !important}
[data-ws="274"]{background:#ccffff !important}
[data-ws="275"]{background:#ccFFFF !important}
[data-ws="276"]{background-color: #abffd8 !important}
[data-ws="277"]{text-align: right !important}
[data-ws="278"]{background-color: #abffd8 !important; text-align: center !important}
[data-ws="279"]{background-color: #defcee !important}
[data-ws="280"]{text-align: left !important; background-color: #defcee !important}
[data-ws="281"]{background-color:#c4d6ff !important}
[data-ws="282"]{background:#BA9D5B !important}
[data-ws="283"]{background:#DAD4C7 !important}
[data-ws="284"]{background:red !important; text-align:center !important}
[data-ws="285"]{float:left !important; margin-left:5px !important}
[data-ws="286"]{float:left !important; margin-left:5px !important}
[data-ws="287"]{clear: left !important}
[data-ws="288"]{background-color: #b0c4de !important}
[data-ws="289"]{background:#E3E6FF !important}
[data-ws="290"]{background:#7BDD67 !important}
[data-ws="291"]{background:#B4EDA8 !important}
[data-ws="292"]{background:#D4F7CD !important}
[data-ws="293"]{color: dodgerblue !important}
[data-ws="294"]{ font-size:84px !important; overflow:hidden !important; line-height:84px !important; letter-spacing:116px !important}
[data-ws="295"]{border:1px solid gray !important; padding-left:1em !important}
[data-ws="296"]{background: !important}
[data-ws="297"]{background:purple !important; text-align:center !important}
[data-ws="298"]{clear:both !important}
[data-ws="299"]{background-color: #e3e6ff !important; vertical-align: top !important}
[data-ws="300"]{ text-align: center !important; background-color: #d5d9ff !important}
[data-ws="301"]{background: #E4E4E4 !important}
[data-ws="302"]{ font-size:43 !important; overflow:hidden !important; line-height:43 !important; letter-spacing:332px !important}
[data-ws="303"]{overflow:auto !important; clear:left !important; border: 0px solid #7A7A7A !important; border-width:0px 0px 0px 0px !important; padding: 0.0em 0.0em !important; margin-top:21px !important; margin-left:30px !important; margin-right:-30px !important; background-color:#transparent !important}
[data-ws="304"]{ font-size:111 !important; overflow:hidden !important; line-height:111 !important; letter-spacing:246px !important}
[data-ws="305"]{background: black !important}
[data-ws="306"]{ font-size:19 !important; overflow:hidden !important; line-height:19 !important; letter-spacing:332px !important}
[data-ws="307"]{overflow:auto !important; clear:left !important; border: 0px solid #7A7A7A !important; border-width:0px 0px 0px 0px !important; padding: 0.0em 0.0em !important; margin-top:0px !important; margin-left:30px !important; margin-right:0px !important; background-color:#transparent !important}
[data-ws="308"]{ font-size:64 !important; overflow:hidden !important; line-height:64 !important; letter-spacing:578px !important}
[data-ws="309"]{width=100% !important}
[data-ws="310"]{background:#D5D9FF !important}
[data-ws="311"]{background-color:#fee !important; margin:1em !important; padding:5px 10px !important; border:1px solid #aaa !important}
[data-ws="312"]{background:#383638 !important; text-align:center !important}
[data-ws="313"]{background:#8FA0AE !important}
[data-ws="314"]{background:#B4CCE1 !important}
[data-ws="315"]{background:blue !important; color:white !important; text-align:center !important}
[data-ws="316"]{background:#dddddd !important; text-align:center !important}
[data-ws="317"]{background:#cc9900 !important; color:white !important; text-align:center !important}
[data-ws="318"]{background:green !important; color:white !important; text-align:center !important}
[data-ws="319"]{margin:0 !important;background-color:#B48EF5 !important;font-size:120% !important;font-weight:bold !important;border:1px solid #a0a0ff !important;text-align:left !important;color:#000 !important;padding:0.2em 0.4em !important}
[data-ws="320"]{background-color:#b1f8b2 !important}
[data-ws="321"]{background-color:#deffd9 !important}
[data-ws="322"]{background-color:#b1f8b2 !important; text-align:center !important}
[data-ws="323"]{background-image: -moz-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: -o-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: -webkit-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: linear-gradient(to right, #e6f2d9,#C5E1A5) !important; text-align:center !important}
[data-ws="324"]{background-image: -moz-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: -o-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: -webkit-linear-gradient(left, #e6f2d9,#C5E1A5) !important; background-image: linear-gradient(to right, #e6f2d9,#C5E1A5) !important}
[data-ws="325"]{background-color:#ffb266 !important}
[data-ws="326"]{color: white !important}
[data-ws="327"]{ background-color: #e3e6ff !important}
[data-ws="328"]{text-align:left !important}
[data-ws="329"]{background:#33CCFF !important; text-align:center !important}
[data-ws="330"]{background:#A29F99 !important}
[data-ws="331"]{background:#D7D5D0 !important}
[data-ws="332"]{background:#C4C4C4 !important}
[data-ws="333"]{background:#A3A3BF !important}
[data-ws="334"]{background:#CECEF2 !important}
[data-ws="335"]{background:#EEE8aa !important}
[data-ws="336"]{text-align: center !important; background-color: #e3e6ff !important}
[data-ws="337"]{background-color: #FFF3F3 !important}
[data-ws="338"]{background-color: #E3E6FF !important}
[data-ws="339"]{background-color: #D5D9FF !important}
[data-ws="340"]{border: 1px solid gray !important; padding-left:0em !important}
[data-ws="341"]{border:1px !important}
[data-ws="342"]{font-size:250% !important; border:none !important; margin:0 !important; padding:.1em !important; color:#000 !important}
[data-ws="343"]{position:absolute !important; left:40px !important; top:<strong class= !important}
[data-ws="344"]{color:#000000 !important}
[data-ws="345"]{background-color: #D8BFD8 !important; border:1px solid #BBB !important}
[data-ws="346"]{background-color: #D8BFD8 !important}
[data-ws="347"]{background-color: #defcee !important; vertical-align: top !important}
[data-ws="348"]{background: #800000 !important}
[data-ws="349"]{background: #DE3163 !important}
[data-ws="350"]{background: #01796F !important}
[data-ws="351"]{background: #AFB837 !important}
[data-ws="352"]{background: #FF9999 !important}
[data-ws="353"]{background: #FFBF00 !important}
[data-ws="354"]{background: #464646 !important}
[data-ws="355"]{background: #CD5C5C !important}
[data-ws="356"]{background: #800080 !important}
[data-ws="357"]{background: #B87333 !important}
[data-ws="358"]{background: #C8A2C8 !important}
[data-ws="359"]{background: #483C32 !important}
[data-ws="360"]{background: #C19A6B !important}
[data-ws="361"]{background: #E97451 !important}
[data-ws="362"]{background: #33CCFF !important}
[data-ws="363"]{background: #EED2EE !important}
[data-ws="364"]{background: #E6E6FA !important}
[data-ws="365"]{background: #ffdead !important; text-align: center !important}
[data-ws="366"]{background-color: #d5d9ff !important; vertical-align: top !important}
[data-ws="367"]{background-color: #d9d5ff !important}
[data-ws="368"]{ background:#D5D9FF !important}
[data-ws="369"]{background-color:#fff3f3 !important}
[data-ws="370"]{background-color:#E3E6FF !important}
[data-ws="371"]{background-color:#EEEEE0 !important}
[data-ws="372"]{color:#226622 !important}
[data-ws="373"]{background:#FFD9D9 !important}
[data-ws="374"]{background-color: #E0E0E0 !important}
[data-ws="375"]{background-color: #e3e6ff !important; text-align: center !important}
[data-ws="376"]{background-color: #ffdead !important; text-align: left !important}
[data-ws="377"]{background:#BDB76B !important}
[data-ws="378"]{background:#EEE8AA !important}
[data-ws="379"]{background-image: -moz-linear-gradient(left, #E8EAF6,#BCBAD1) !important; background-image: -o-linear-gradient(left, #E8EAF6,#BCBAD1) !important; background-image: -webkit-linear-gradient(left, #E8EAF6,#BCBAD1) !important; background-image: linear-gradient(to right, #E8EAF6,#BCBAD1) !important}
[data-ws="380"]{align:center !important}
[data-ws="381"]{ border:0px !important}
[data-ws="382"]{background:#33CCFF !important;text-align:center !important}
[data-ws="383"]{background-color:#D5D9FF !important}
[data-ws="384"]{background-color:#E0E0E0 !important}
[data-ws="385"]{background: #ffdead !important}
[data-ws="386"]{background-color :#ffdead !important}
